<button type="button" routerLink="/user/0" class="btn btn-success btn-block my-5">New User</button>

<div class="card">
  <div class="card-header card-header-info">
      <div class="d-flex p-2 mb-3">
          <input [(ngModel)]="filterPhrase" class="form-control" type="text"
              placeholder="Keresés...">
          <input [(ngModel)]="filterKey" class="form-control mr-3 px-3">
      </div>
  </div>
</div>



<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="changeOrder('id')">#</th>
          <th (click)="changeOrder('name')">Name</th>
          <th (click)="changeOrder('email')">Email</th>
          <th (click)="changeOrder('address')">Address</th>
          <th (click)="changeOrder('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:filterPhrase:filterKey | sorter:sortby:sorterDirection">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
